body {background-color: rgb(248, 236, 59)
    ;}
    
    h2{
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }
    h2 {
        font-family: "Jacquarda Bastarda 9", serif;
        font-weight: 400;
        font-style: normal;
      }
    h2 {font-size: 400%;}

 h1 {font-size: 500%;}
 h1 {color: crimson;}
 h2 {color: crimson;}
  h3 {color: crimson;}
  h2 {border:solid 7px black}
  
  h1 {border:solid 7px black}
h3 {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
  }
  h3 {font-size: 400%;}
 h2 {padding-left: 30%;}
h1 {text-align: center;}
  h3 {text-align: center;}
  p {font-size: 300%;}
  p {text-align: center;}
  .parte1 { border:solid 4px green}
  .parte1 {background-color: forestgreen;}